registry=http://http://192.168.56.10:8081/repository/repository/
@jest:registry=http://http://192.168.56.10:8081/repository/repository/
//172.10.0.140:8081/repository/repository/:_authToken=e20d3a2b-7c8a-35ad-8d38-a926a13c33f5
@your-scope:registry=http://http://192.168.56.10:8081/repository/repository/
@jest:registry=http://http://192.168.56.10:8081/repository/repository/
registry=https://registry.npmjs.org/
