.chat-layout {
  display: flex;
  border: 3px solid #ccccccb1;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 50px;
  margin-left: 50px;
  position: relative; /* Ensure relative positioning for containing absolutely positioned elements */
}

.chat-container {
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-right: 10px;
  margin-bottom: 60px;

}

.selected-user {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.selected-user-avatar {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.selected-user-name {
  flex: 1;
  font-weight: bold;
}

.selected-user-divider {
  border-top: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
}

.message-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 400px; /* Adjust the maximum height as needed */
}

.message-item {
  margin-bottom: 1px;
}

.message-sender-container {
  display: flex;
  justify-content: space-between;
}

.message-sender {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #007bff;
  margin-right: 8px;
}

.message-timestamp {
  font-size: 0.8em;
  color: gray;
}

.message-input-box {
  width: calc(100% - 40px); /* Adjust width to accommodate button and padding */
  display: flex;
  align-items: center;
  padding: 10px;
  bottom: 0; /* Align at the bottom */
  position: absolute; /* Ensure absolute positioning */
  left: 20px; /* Adjust as needed to center horizontally */
  right: 20px; /* Adjust as needed to center horizontally */
  background-color: transparent;
  border-radius: 5px;
}

.message-input {
  flex: 1; /* Allow input to grow as needed */
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  outline: none; /* Remove default outline */
}

.send-button {
  padding: 8px 20px;
  margin-left: 10px;
  border: none;
  background-color: #ff9100;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.chat-placeholder {
  color: rgb(255, 115, 0);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
}
