/* userList.css */

.chat-list {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Arrange children in a column */
  width: 150px; /* Adjust the width as needed */
  max-width: 100%; /* Ensure it doesn't exceed its container */
  padding: 20px; /* Adjust the padding as needed */
}
.message-sender-name {
  font-weight: bold;
  color: #050505;
}
.chat-item .rce-citem-avatar img {
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  object-fit: cover; /* Ensures the image covers the area without distortion */
  border-radius: 50%; /* Makes the image circular */
  margin-bottom: 30px;
  margin-left: 10px;/* Adjust the space between items as needed */
  /* Adds space between items */
}

.chat-item {
  display: flex; /* Ensure each chat item stays as a flex container */
  align-items: center; /* Align items in the center vertically */
  margin-bottom: 10px;
  margin-left: 10px;/* Adjust the space between items as needed */
 
}

