.form-radio:checked {
  border-color: #ff6e00;
  background-color: #ff6e00;
  /* Add width if needed */
  /* width: 20px; */ /* Example width for form-radio */
}

.custom-sign-in-button {
  background-color: #ee6a2e; /* Custom background color */
  padding: 10px 20px; /* Custom padding */
  color: white; /* Custom text color */
  border: none; /* Remove default border */
  /* Add width if needed */
  /* width: 200px; */ /* Example width for button */
}

.animation-container {
  border-radius: 50px; /* Adjust the radius as needed */
  overflow: hidden; /* Ensure the border radius is applied correctly */
  /* Add width if needed */
  width: 150%; /* Example width for container */
}
